.light {
    --bg-color: #ffffff;
    --p-color: #92939E;
    --Kcolor: #000;
    --bg-img: url('/bg-pirate-ship.jpg'); /* Direct root path */
    --sign-in-out-bg: url('/auth-light-bg.jpg');
}

.dark {
    --bg-color: #010314;
    --p-color: #fff;
    --Kcolor: #fff;
    --bg-img: url('/spiderman.png');
    --sign-in-out-bg: url('/auth-dark-bg.jpg');
}