$font-Oxanium: "Oxanium", Arial, Helvetica, sans-serif;
$font-Manrope: "Manrope", Arial, Helvetica, sans-serif;
$color-white: #fff;
$color-light-gray: #FFFFFFBF;
$color-gray:#92939E;
$bg-color: #010314;
$purple: #6871F7;

$sign-in-bg-img:url('../../../src/assets/img/playhost-sign-in-bg.jpg');
$gojo-gif:url('../../../../public/ezgif.com-effects.gif')