.faq {
    .hero {
        @include hero;
        background-image: url('https://madebydesignesia.com/themes/playhost/images/background/subheader-faq.webp');
    }

    .questions {
        @include section(true);

        .accordion {
            .accordion-item {
                border: none;
                background-color: $bg-color;

                .accordion-button {
                    background-color: #0E1020;
                    box-shadow: none;
                    color: #fff;

                    &:after {
                        @include purple-btn;
                    }
                }

                .accordion-collapse {
                    .accordion-body {
                        color: $color-gray;
                    }
                }
            }
        }


    }

    .customer-service {
        @include section(true);

        .cant-find-answer {
            background-color: #1B1D2C;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            border-radius: 10px;
            color: #fff;

            h4 {
                font-family: "Oxanium", Arial, Helvetica, sans-serif;
                padding-left: 20px
            }

            .purple-btn {
                @include purple-btn;
                text-decoration: none;
            }
        }
    }

    @media (max-width:1010px) {
        .customer-service {
            .cant-find-answer {
                @include d-flex;
                gap: 20px;
                text-align: center;
            }
        }
    }
}